<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mmi.multimodal_presentation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>

        <activity
            android:name="de.mmi.multimodal_presentation.InitActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.mmi.multimodal_presentation.PresentActivity"
            android:label="@string/title_activity_present"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name="de.mmi.multimodal_presentation.settings.SettingsActivity"
            android:label="@string/settings"></activity>
        
        <activity android:name="de.mmi.multimodal_presentation.settings.CacheClearActivity"/>
        
        <service android:name="de.mmi.multimodal_presentation.network.ConnectionService"/>
        
    </application>

</manifest>
